.dashbord_line{display:flex;justify-content: flex-start;align-items: stretch;gap:30px;}
.dashbord_line:first-child{margin-top:0;}
.dashbord_line .items{min-height:140px;background: #FFFFFF;box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);border-radius: 8px;width:100%;}
.dashbord_line.bottom_big{padding-bottom:26px;}
.dashbord_line .items .title{font-family: 'Poppins';font-weight: 700;font-size: 16px;line-height: 24px;color:#000}
.dashbord_line .items .total_num{font-family: 'Poppins';font-weight: 700;font-size: 24px;line-height: 24px;color:#000;padding: 8px 0 0;;}
.dashbord_line .items ul li{font-weight: 700;font-size: 16px;line-height: 19px;color:#000}

.dashbord_line .items.horizon_type{min-height:70px;padding:0 40px;display:flex;align-items: center;justify-content: space-between;box-shadow: 0 0 0 0;margin-top:14px;}
.dashbord_line .items.horizon_type .title{font-family: 'Poppins';font-weight: 600;font-size: 18px;color: #000000;}
.dashbord_line .items.horizon_type .total_num{font-family: 'Poppins';font-weight: 600;font-size: 18px;color: #000000;}
.dashbord_line .items.horizon_type:hover{box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);}

.dashbord_line .items.item_03{flex: 3 0 69%;}
.dashbord_line .items.graph_type{padding:40px 44px;}
.dashbord_line .items.graph_type .title{font-size:24px;line-height: 36px;}
.dashbord_line .items.graph_type .total_num{padding-top:8px;font-size: 30px;line-height: 45px;}
.dashbord_line .items.graph_type .graph_wrap{min-height:220px;padding-top:30px;}

.items.center_type{display: flex;align-items: center;justify-content: center;    flex-direction: column;text-align:center;}

.dashbord_line .items.tokens{padding:30px 40px;}
.dashbord_line .items.tokens .title{font-family: 'Poppins';font-weight: 600;font-size: 24px;line-height: 36px;}
.dashbord_line .items.tokens table{margin-top:12px;border-top:2px solid #D9D9D9;width:100%;}
.dashbord_line .items.tokens table th{text-align:right;padding:0 8px;font-weight: 400;font-size: 16px;color: #000000;height:50px;border-top:1px solid #D9D9D9}
.dashbord_line .items.tokens table th:first-child{text-align: left;}
.dashbord_line .items.tokens table td{text-align:right;padding:0 8px;font-weight: 400;font-size: 16px;color: #000000;height:58px;border-top:1px solid #D9D9D9}
.dashbord_line .items.tokens table td:first-child{text-align: left;}
.dashbord_line .items.tokens table td .token_name{display:flex;align-items: center;}
.dashbord_line .items.tokens table td .token_name span{padding-left:12px;}